body {
    font-family: sans-serif;
    background-image: url("../img/chevrons.jpg");
    background-attachment: fixed;
    margin: auto;
    max-width: 500px;
    border: solid black 3px;
}

img {
    max-width: 500px;
    margin-bottom: 0px;
    display: block;
    border: solid black 3px;
    border-left: none;
    border-right: none;
}

ul {
    list-style-type: disc;
}

li {
    display: list-item;
    margin-left: 30px;
    padding: 1px;
}

nav li {
    display: inline;
    padding: 15px;
    margin: auto;
}

nav ul {
    background-color: white;
    border-top: none;
    padding: 10px;
    margin: 0px;
}

h1, header {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

h1 {
    font: bold 40px sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

header {
    font: bold 15px monospace;
    margin-top: 0px;
    border-top: none;
}

.content {
    padding: 20px;
    margin: 0px;
    background-color: white;
}

h2 {
    font: bold 20px monospace;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0px;
}

ul, p {
    font-size: 14px;
}

h3 {
    font: italic bold 17px sans-serif;
    margin: 7px;
}

ol {
    font-size: 14px;
    list-style-type: decimal;
}

ul ul, ol ul {
    list-style-type: circle;
    margin-left: 20px;
}