body {
    font-family: sans-serif;
    padding: 30px;
    background-image: url("../img/chevrons.jpg");
    margin: 20px;
    margin-bottom: 0px;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: white;
    padding: inherit;
    border-style: solid;
    border-color: black;
    margin-bottom: 0px;
}

header {
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 0px;
    padding: inherit;
}

article {
    padding: inherit;
    margin-top: 0px;
}

h2 {
    font-family: monospace;
}

ul, p {
    font-size: 90%;
}

#bio, #projects {
    background-color: white;
    border-style: solid;
    border-color: black;
}

#skills, #education {
    background-color: black;
    color: white;
}

h3 {
    font-style: italic;
    font-size: 90%;
}


